/.vscode
/Binary_search_tree.exe
/BST.exe
/Dictionary.exe
/file.gitignore
/TBT.exe
/tempCodeRunnerFile.cpp
/try2.exe
AdjacencyList.exe
BST_all_operations.exe
test.exe
DFS.exe
Prims.exe
try.exe
Shortest_path.exe
Shortest_path.exe
index.exe
DFS_BFS.exe
Trees.exe
Dijkstra_algo.exe
HeapSort.exe
AVL.exe
